<div [class.hidden]="input.hidden" class="form-group" [class.has-error]="input?.hasErrors">

    <label>{{ input?.name }}</label>

    <div #container></div>

    <div *ngFor="let error of input?.errors" class="help-block">{{ error }}</div>

</div>
