<div class="panel panel-primary" style="margin-bottom: 0;">
    <div class="panel-heading">Uploader</div>
    <div class="panel-body" *ngIf="uploader.preview">
        <video *ngIf="config.type == 'video'"
               style="width: 100%;"
               [src]="uploader.preview"
               controls></video>
        <audio *ngIf="config.type == 'audio'"
               [src]="uploader.preview"
               style="width: 100%;"
               controls></audio>
        <crop *ngIf="config.type == 'image'"
              [src]="uploader.preview"
              [ratio]="config.ratio"
              (output)="setCrop($event)"></crop>
    </div>
    <div class="panel-body" *ngIf="(config.type == 'image' || config.type == 'audio') && !uploader.preview">
        Loading...
    </div>
    <div class="progress" *ngIf="uploader.inProgress" style="margin-bottom: 0; border-radius: 0;">
        <div class="progress-bar progress-striped active" [style.width.%]="uploader.progress | async"></div>
    </div>
    <div class="alert alert-danger" *ngIf="uploader.errorMessage" style="margin-bottom: 0;">
        {{ uploader.errorMessage }}
    </div>
    <div class="panel-footer clearfix" *ngIf="!uploader.inProgress">
        <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="upload()">Upload</button>
        </div>
    </div>
</div>
