@base-size: 22px;

@controller-margin: 8px;
@base-color: rgb(255, 78, 61);
@base-font-size: @base-size;
@base-padding-horizontal: 5px;
@base-padding-vertical: 5px;
@base-line-height: @base-size;

@button-default-color: @base-color;
@button-default-color-hover: lighter(@base-color, 10%);

@seekbar-height: @base-size;
@seekbar-visible-height: 4px;
@seekbar-seeker-diameter: 12px;
@seekbar-bg-color: rgba(43, 19, 53, 0.71);
@seekbar-seek-bg-color: #e30600;
@seekbar-seeker-bg-color: #0200ff;

@directory: 'http://85.117.37.139/sport_files/icons/';
@icon-size: @base-size;
@navbar-height: 2*@base-padding-vertical + @base-size;

//plaay
@block-widht: 100px;
@block-height: 100px;
@play-button-width: 20px;
@play-button-height: 20px;
@play-button-color: #ed2042;
@play-button-background: #ffffff;
@body-backgroung: @play-button-background;
@border-radios: 50%;
@brder-width: 5px;
@animation-time: 200ms;
//play


.seekbar {
  cursor: pointer;
  position: relative;
  height: @seekbar-height;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: (@seekbar-height - @seekbar-visible-height) / 2;
    height: @seekbar-visible-height;
    background: @seekbar-bg-color;
  }

  .seekbar-seek {
    position: absolute;
    left: 0;
    right: auto;
    top: (@seekbar-height - @seekbar-visible-height) / 2;
    height: @seekbar-visible-height;
    background: @seekbar-seek-bg-color;
    .seekbar-seeker {
      transform: scale(1);
      position: absolute;
      height: @seekbar-seeker-diameter;
      width: @seekbar-seeker-diameter;
      top: (@seekbar-visible-height - @seekbar-seeker-diameter) / 2;
      right: -@seekbar-seeker-diameter / 2;
      z-index: 3;
      background: @seekbar-seeker-bg-color;
      border-radius: 50%;
      transition: transform ease-in 200ms;
    }
  }

  &:hover {

    .seekbar-seek {
      //transform: scale(1, 1.5);
    }

    .seekbar-seeker {
      transform: scale(1, 1);
    }
  }
}

