<nav class="navbar navbar-default navbar-top navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/']" class="navbar-brand">
                <div class="brand-logo">
                    CMS
                </div>
            </a>
        </div>

        <!--
        <ul class="nav navbar-nav">
            <li>
                <a>
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
        </ul>
        -->
    </div>
</nav>
