<div #container></div>

<br>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Embed
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control"
                              rows="4"
                              [ngModel]="embed"
                              (ngModelChange)="onEmbedChange($event)"></textarea>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary" (click)="addEmbed()">Add Embed</button>
            </div>
        </div>
    </div>
</div>


<!--<pre *ngIf="editor">{{ _model | json }}</pre>-->

<!--<div class="panel panel-default">{{ model }}</div>-->
