<audio #audio></audio>

<div class="panel panel-default" style="margin-bottom: 0;" *ngIf="player.isInited">
    <div class="panel-body" style="padding: 0;">
        <table style="width: 100%;">
            <tbody>
            <tr>
                <td style="width: 1%; padding: 5px 15px;">
                    <button class="btn btn-default btn-block"
                            style="border-radius: 100%; outline: none;"
                            (click)="player.toggle()">
                        <span class="fa {{ player.isPlaying ? 'fa-pause' : 'fa-play' }}"></span>
                    </button>
                </td>
                <td style="width: 10%; padding: 5px 15px;">
                    <seeker [(model)]="player.audio.volume"
                            [max]="1"></seeker>
                </td>
                <td style="width: 90%; padding: 5px 15px;">
                    <seeker [(model)]="player.audio.currentTime"
                            [max]="player.audio.duration"></seeker>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
