<div class="dropdown" style="display: inline-block; min-width: 200px;">
    <div class="btn btn-default" style="width: 100%;">
        <div class="pull-left text-left" style="margin-right: 15px;">{{ model ? model[label] : 'none' }}</div>
        <div class="pull-right">
            <span class="caret"></span>
        </div>
    </div>
    <ul class="dropdown-menu" style="display: block; width: 100%;" *ngIf="isOpen">
        <li *ngFor="let option of options">
            <a href="javascript:void(0)" (click)="select(option)">{{ option[label] }}</a>
        </li>
    </ul>
</div>
