<ul class="pagination" *ngIf="pages.length">
    <li>
        <a href="javascript:void(0)" (click)="setPage(currentPage - 1)">
            <span>&laquo;</span>
        </a>
    </li>
    <li *ngFor="let _page of pages" [ngClass]="{'active':_page.active}">
        <a href="javascript:void(0)" (click)="setPage(_page.value)">
            <span>{{ _page.title }}</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" (click)="setPage(currentPage + 1)">
            <span>&raquo;</span>
        </a>
    </li>
</ul>
