@color_3: #638399;
@color_4: #31414c;
@grey: grey;

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  > .aside {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: white;
  }
  > .content {
    position: relative;
    padding-top: 50px;
  }
  &.sidebar-open {
    > .aside {
      width: 250px;
    }
    > .content {
      margin-left: 250px;
    }
  }
}

.content-wrapper {
  padding: 15px;
  max-width: 1170px;
  margin: auto;
}

.aside-toggled {
  overflow-y: hidden;
  height: 100%;
  .wrapper {
    > .content {
      margin-left: 250px;
    }
  }
}

.sidebar {
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #cccccc;
  overflow-scrolling: touch;
  .nav {
    > li {
      background-color: white;
      //&.active > a,
      &:focus > a,
      &:hover > a {
        color: @color_4;
        background-color: inherit;
        border-left-color: #ff5a5b;
      }
      > a {
        color: @color_3;
        padding: 8px;
        border-left: 3px solid #CCC;
        border-top: dashed 1px #CCC;

        &:focus {
          background-color: inherit;
        }
      }
      &:last-child > a {
        border-bottom: dashed 1px #CCC;
      }
    }
    .nav {
      padding-left: 15px;
    }
  }
}

.user-block {
  position: relative;
  padding: 15px;
  cursor: pointer;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  > .user-block-picture {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    > img {
      max-width: 100%;
      height: auto;
    }
  }
  > .user-block-info {
    float: left;
    //padding: 15px;
    .user-block-name {
      display: block;
      color: @grey;
    }
    .user-block-role {
      display: block;
      font-size: 12px;
      color: @grey;
    }
  }
  > .user-block-logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    color: #ff6b38;
    font-weight: bold;
  }
}



