<div *ngIf="repository" class="panel panel-primary">
    <div class="panel-heading">
        {{ repository.endpoint }}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" [routerLink]="['/', repository.endpoint, 'create']">create</button>
            </div>
        </div>
    </div>
    <ng-table [table]="table"></ng-table>
    <div class="panel-footer text-center" *ngIf="table && table.lastPage > 1">
        <pagination [currentPage]="table.currentPage"
                    [lastPage]="table.lastPage"
                    (change)="table.setPage($event)"></pagination>
    </div>
</div>
