<div *ngIf="form" class="panel panel-primary">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
        <ng-container *ngIf="!form.isLocked">
            <ng-form [form]="form" [auto]="true"></ng-form>
        </ng-container>
        <ng-container *ngIf="form.isLocked">
            <h1>Loading...</h1>
        </ng-container>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a class="btn btn-default" (click)="close()">Cancel</a>
            <button class="btn btn-danger" (click)="destroy()">Delete</button>
            <button class="btn btn-success" (click)="save()">Save</button>
        </div>
    </div>
</div>
