<style>
    .anim-cont {
        background-color: #00ff1d;
        width: 40px;
        height: 40px;
        font-size: 36px;
        overflow: hidden;

        position: relative;
        float: left;
        margin: 5px;
        padding: 5px;
    }

    .anim {
        position: absolute;
        top: -40px;
        left: 0;
    }

    .anim.next {
        transition: all 500ms ease;
        top: -80px;
    }

    .anim-el {
        height: 40px;
        width: 40px;
        color: white;
        border-radius: 10px;
        background-color: #307fff;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">Homepage</div>
    <div class="panel-body">

        <div class="row">
            <div *ngFor="let numb of numbers" class="anim-cont">
                <div class="anim {{ numb.className }}">
                    <div class="anim-el">{{ (numb.value + 11) % 10 }}</div>
                    <div class="anim-el">{{ numb.value }}</div>
                    <div class="anim-el">{{ (numb.value + 9) % 10 }}</div>
                </div>
            </div>
        </div>

    </div>
</div>
