<div *ngIf="image"
     class="crop-container"
     [style.width.px]="containerWidth"
     [style.height.px]="containerHeight">
    <div class="image-wrapper"
         [style.left.px]="-left"
         [style.top.px]="-top"
         [style.width.px]="width"
         [style.height.px]="height">
        <img [src]="image.src"/>
    </div>
</div>

<div class="overlay"
     (mousedown)="dragBegin($event)"
     (dragstart)="false;"
     [style.width.px]="containerWidth"
     [style.height.px]="containerHeight"></div>


<div class="zoom-button-container">
    <input type="range"
           [min]="zoomMin"
           [max]="zoomMax"
           [step]="zoomStep"
           [ngModel]="zoom"
           (ngModelChange)="setZoom($event)"
           style="width: 100%;">
</div>

