:host {
  display: block;
  margin-bottom: 21px;
  width: 100%;
  height: 500px;
  position: relative;

  .crop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #3c763d;
    border: dotted 1px #CCC;
    .image-wrapper {
      position: absolute;
      background-color: #3c763d;
      img {
        height: 100%;
        user-select: none;
        position: absolute;
      }
    }
  }

  .overlay {
    cursor: move;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .zoom-button-container {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -21px;
    text-align: center;
  }
}