<div class="auto-complete-form-control" tabindex="0" (focus)="focus()">
    <ng-container *ngIf="multiple">
        <div class="auto-complete-multiple-item" *ngFor="let item of model">
            <span>{{ item[label] }}</span>
            <a href="javascript:void(0)" (click)="remove(item)">
                <span class="fa fa-times"></span>
            </a>
        </div>
        <input class="auto-complete-input"
               placeholder="Add a tag..."
               type="text"
               [(ngModel)]="keyword"
               (keyup)="onKeyUp($event)"
               (keydown)="onKeyDown($event)">
    </ng-container>
    <ng-container *ngIf="!multiple">
        <div class="auto-complete-item" *ngIf="model">
            {{ model[label] }}
            <a href="javascript:void(0)" (click)="remove(item)">
                <span class="fa fa-times"></span>
            </a>
        </div>
        <div class="auto-complete-item" *ngIf="!model">Choose tag</div>
        <!--<span class="pull-right fa fa-caret-down"></span>-->
    </ng-container>
</div>

<ul class="suggestions" [class.open]="isFocused || loading">
    <li style="padding: 0" class="disabled" *ngIf="!multiple">
        <input class="auto-complete-input auto-complete-input-bordered"
               type="text"
               [(ngModel)]="keyword"
               (keyup)="onKeyUp($event)"
               (keydown)="onKeyDown($event)">
    </li>
    <li *ngIf="loading" class="disabled">
        <span class="fa fa-spinner fa-spin"></span>
    </li>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="suggestions.length == 0">
            <li class="disabled">No Data</li>
        </ng-container>
        <ng-container *ngIf="suggestions.length > 0">
            <li *ngFor="let suggestion of suggestions; let $index = index"
                [class.active]="$index == index"
                (click)="select(suggestion)">
                <span>{{ suggestion[label] }}</span>
            </li>
        </ng-container>
    </ng-container>
</ul>
