@import "../../../../../styles/variables";

@bg-color: #FAFAFA;

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

:host {
  .clearfix();
  display: block;
  position: relative;

  .auto-complete-form-control {
    background-color: @bg-color;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;
    min-height: @input-height-base;
    overflow: hidden;
    cursor: text;
    display: flex;
    flex-wrap: wrap;

  }

  .auto-complete-input {
    border: none;
    outline: none;
    background-color: transparent;
    height: @input-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @line-height-base;
    float: left;
    width: 100%;

    display: block;
    margin: 0;
    box-shadow: none;
    border: 0;
    resize: none;
    flex: 1;
    min-width: 120px;
    &.auto-complete-input-bordered {
      background-color: white;
      border-bottom: 2px solid @input-border-focus;
      padding: @padding-base-vertical @padding-base-horizontal;
    }
  }

  .auto-complete-multiple-item {
    display: flex;
    margin: 5px 0 5px 5px;

    font-size: @font-size-base;
    line-height: @line-height-base;
    padding: @padding-xs-vertical 0 @padding-xs-vertical @padding-xs-horizontal;
    float: left;
    border: solid 1px @btn-default-border;
    border-radius: @border-radius-small;
    background: @btn-default-bg;
    a {
      height: 100%;
      color: @brand-danger;
      padding: 0 @padding-xs-horizontal;
    }
  }

  .auto-complete-item {
    .clearfix();
    font-size: @font-size-base;
    line-height: @line-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;

    display: flex;
    width: 100%;
    height: @input-height-base;
    border-radius: @border-radius-small;
    a {
      height: 100%;
      color: @brand-danger;
      padding: 0 @padding-xs-horizontal;
    }
  }

  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 0;
    margin: -1px 0 0; // override default ul
    list-style: none;
    font-size: @font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: @bg-color;
    border: 1px solid @dropdown-border;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    display: none;
    &.open {
      display: block;
    }
    > li {
      display: block;
      padding: @padding-base-vertical @padding-base-horizontal;
      clear: both;
      font-weight: normal;
      line-height: @line-height-base;
      color: @dropdown-link-color;
      white-space: nowrap;
      &:hover,
      &:focus {
        cursor: pointer;
        text-decoration: none;
        color: @dropdown-link-hover-color;
        background-color: @dropdown-link-hover-bg;
      }
      &.active {
        &,
        &:hover,
        &:focus {
          color: @dropdown-link-active-color;
          text-decoration: none;
          outline: 0;
          background-color: @dropdown-link-active-bg;
        }
      }
      &.disabled {
        &:hover,
        &:focus {
          cursor: default;
          color: @dropdown-link-color;
          background-color: inherit;
        }
      }
    }
  }
}
