<ng-container *ngIf="form">
    <fieldset [disabled]="form.isLocked">
        <ng-content></ng-content>
        <ng-container *ngIf="auto">
            <div class="row">
                <ng-container *ngFor="let input of form.inputs">
                    <div [class]="size">
                        <ng-input [input]="input"></ng-input>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </fieldset>
</ng-container>
