@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.date-picker {
  border-radius: @border-radius-base;
  position: relative;
  &-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @zindex-dropdown;
    float: left;
    min-width: 240px;
    list-style: none;
    font-size: @font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: @dropdown-bg;
    border: 1px solid @dropdown-border;
    border-radius: @border-radius-base;
    .box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    background-clip: padding-box;
  }
  table {
    margin: 0;
    width: 100%;
    user-select: none;
    tr {
      td, th {
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: none;
      }
    }
  }

  table tr td {
    &.old,
    &.new {
      color: @btn-link-disabled-color;
    }
    &.day:hover,
    &.focused {
      background: @gray-lighter;
      cursor: pointer;
    }
    &.disabled,
    &.disabled:hover {
      background: none;
      color: @btn-link-disabled-color;
      cursor: default;
    }
    &.highlighted {
      @highlighted-bg: @state-info-bg;
      .button-variant(#000, @highlighted-bg, darken(@highlighted-bg, 20%));
      border-radius: 0;

      &.focused {
        background: darken(@highlighted-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: @highlighted-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.today {
      @today-bg: lighten(orange, 30%);
      .button-variant(#000, @today-bg, darken(@today-bg, 20%));

      &.focused {
        background: darken(@today-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: @today-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.range {
      @range-bg: @gray-lighter;
      .button-variant(#000, @range-bg, darken(@range-bg, 20%));
      border-radius: 0;

      &.focused {
        background: darken(@range-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: @range-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.range.highlighted {
      @range-highlighted-bg: mix(@state-info-bg, @gray-lighter, 50%);
      .button-variant(#000, @range-highlighted-bg, darken(@range-highlighted-bg, 20%));

      &.focused {
        background: darken(@range-highlighted-bg, 10%);
      }

      &.disabled,
      &.disabled:active {
        background: @range-highlighted-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.range.today {
      @range-today-bg: mix(orange, @gray-lighter, 50%);
      .button-variant(#000, @range-today-bg, darken(@range-today-bg, 20%));

      &.disabled,
      &.disabled:active {
        background: @range-today-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.selected,
    &.selected.highlighted {
      .button-variant(#fff, @gray-light, @gray);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
    &.active,
    &.active.highlighted {
      .button-variant(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
  }

  .date-picker-switch {
    width: 145px;
  }

  .date-picker-switch,
  .prev,
  .next,
  tfoot tr th {
    cursor: pointer;
    &:hover {
      background: @gray-lighter;
    }
  }

  .prev, .next {
    &.disabled {
      visibility: hidden;
    }
  }

  // Basic styling for calendar-week cells
  .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
  }
}