<div class="date-picker">
    <div class="form-control" (click)="open()">{{ date | date:'y-MMM-dd HH:mm':'+0400' }}</div>
    <div class="date-picker-dropdown" *ngIf="isOpen">
        <table>
            <tr>
                <th class="prev" style="visibility: visible;" (click)="prevMonth()">«</th>
                <th colspan="5" class="date-picker-switch">{{ preview | date:'MMMM y' }}</th>
                <th class="next" style="visibility: visible;" (click)="nextMonth()">»</th>
            </tr>
            <tr>
                <th *ngFor="let weekDay of weekDayNames" class="week-day-name">
                    {{ weekDay }}
                </th>
            </tr>
            <tr *ngFor="let days of weekDays">
                <td *ngFor="let day of days;"
                    class="day"
                    [class.active]="day.active"
                    [class.today]="day._today"
                    [class.old]="day._old"
                    [class.new]="day._new"
                    (click)="activate(day)">
                    <span>{{ day.value }}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
