<div class="panel panel-default">
    <div class="panel-heading">{{ 'login' }}</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group" [class.has-error]="auth.errors && auth.errors.email">
                <label for="email" class="col-md-4 control-label">{{ 'email' }}</label>
                <div class="col-md-6">
                    <input id="email"
                           type="email"
                           class="form-control"
                           [(ngModel)]="form.email">
                    <span *ngIf="auth.errors && auth.errors.email" class="help-block">
                                    <strong>{{ auth.errors.email[0] }}</strong>
                                </span>
                </div>
            </div>
            <div class="form-group" [class.has-error]="auth.errors && auth.errors.password">
                <label for="password" class="col-md-4 control-label">{{ 'password' }}</label>
                <div class="col-md-6">
                    <input id="password"
                           type="password"
                           class="form-control"
                           [(ngModel)]="form.password">
                    <span *ngIf="auth.errors && auth.errors.password" class="help-block">
                                    <strong>{{ auth.errors.password[0] }}</strong>
                                </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-primary btn-block" (click)="auth.attempt(form)">
                        {{ 'login' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
