<div class="wrapper"
     [class.sidebar-open]="settings.user">
    <app-header></app-header>
    <aside class="aside">
        <app-sidebar></app-sidebar>
    </aside>
    <div class="content">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<alert-outlet></alert-outlet>
<dialog-outlet></dialog-outlet>

