<div class="table-responsive" *ngIf="table" style="position: relative; min-height: 50px;">

    <table class="table table-bordered table-hover">
        <thead *ngIf="table.data.length > 0">
        <tr>
            <th *ngFor="let column of table.columns"
                class="text-center">
                <ng-container *ngIf="column.type == 'text'">
                    <a (click)="table.setOrder(column)" style="cursor: pointer;">
                        {{ column.title }}
                    </a>
                    <span *ngIf="table.orderedBy(column,'asc')" class="fa fa-caret-up"></span>
                    <span *ngIf="table.orderedBy(column,'desc')" class="fa fa-caret-down"></span>
                </ng-container>
                <ng-container *ngIf="column.type != 'text'">
                    {{ column.title }}
                </ng-container>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="table.data.length > 0">
        <tr *ngFor="let item of table.data">
            <td *ngFor="let column of table.columns"
                class="{{ column.classList?.join(' ') }} td-{{ column.type }}">
                <ng-container [ngSwitch]="column.type">
                    <ng-container *ngSwitchCase="'text'">
                        {{ column.value(item) }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'button'">
                        <button class="btn btn-block btn-default" (click)="column.action(item)">
                            {{ column.title }}
                        </button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'image'">
                        <img *ngIf="column.value(item)" [src]="column.value(item)" alt="">
                    </ng-container>
                </ng-container>
            </td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="!table.loading && !table.error && table.data.length == 0"
         class="alert alert-info text-center"
         style="margin-bottom: 0;">
        <h1>No Data</h1>
    </div>

    <div *ngIf="table.error"
         class="alert alert-danger"
         style="margin-bottom: 0;">
        <p><strong>Error: </strong>{{ table.error }}</p>
    </div>

    <div *ngIf="table.loading"
         class="table-overlay"
         style="cursor: wait;">
        <div class="table-overlay-container">
            <div>
                <span class="fa fa-spinner fa-spin"></span>
                Loading
            </div>
        </div>
    </div>


</div>
