:host {
  table {
    margin: 0;
  }
  th {
    &.th-image {
      width: 1%;
    }
  }
  td {
    vertical-align: middle;

    &.td-image {
      width: 1%;
      padding: 1px;
      img {
        display: block;
        margin: auto;
        height: 50px;
      }
    }
  }

  .table-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.2);
  }
  .table-overlay-container {
    color: white;
    background-color: #ff5a5b;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}