<div class="panel panel-default">
    <div class="panel-heading">Homepage</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-6">
                <io-quill [(model)]="content"></io-quill>
            </div>
            <div class="col-xs-6">
                <io-quill [(model)]="content"></io-quill>
            </div>
        </div>


    </div>
</div>
