<nav class="sidebar">

    <div class="user-block" *ngIf="settings['user']">
        <div class="user-block-picture">
            <img [src]="'assets/avatar.png'" width="60" height="60" class="img-thumbnail img-circle">
        </div>
        <div class="user-block-info">
            <span class="user-block-name">{{ settings['user']['name'] }}</span>
            <span class="user-block-role">Admin</span>
        </div>
        <a class="user-block-logout" href="javascript:void(0)" (click)="auth.logout()">
            <span class="fa fa-power-off"></span>
            <span>LOGOUT</span>
        </a>
    </div>

    <ul class="nav">
        <li *ngFor="let navigation of settings.navigation"
            [class.active]="1">
            <a [routerLink]="navigation['link']">
                <span class="item-text">{{ navigation.name }}</span>
                <span *ngIf="navigation.count" class="badge pull-right">{{ navigation.count }}</span>
            </a>
            <ul class="nav collapse in" *ngIf="navigation['navigation']">
                <li></li>
                <li *ngFor="let subNavigation of navigation['navigation']"
                    [class.active]="1">
                    <a [routerLink]="subNavigation['link']">
                        <span class="item-text">{{ subNavigation.name }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</nav>
