@import "styles/mixins";
@import "styles/variables";
//@import "styles/theme";
@import "~font-awesome/less/font-awesome";
@import "styles/bootstrap";
@import "styles/sidebar";

.audio-player-dropdown {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform .3s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, .175);
  transform: translateY(100%);
  &.active {
    transform: translateY(0);
  }
}
