<div *ngIf="table" class="panel panel-default">
    <div class="panel-body">
        <button class="btn btn-success" (click)="create()">Add</button>
    </div>
    <ng-table [table]="table"></ng-table>
    <div class="panel-footer text-center" *ngIf="table && table.lastPage > 1">
        <pagination [currentPage]="table.currentPage"
                    [lastPage]="table.lastPage"
                    (change)="table.setPage($event)"></pagination>
    </div>
</div>
