<div *ngIf="config" class="upload">

    <ng-container *ngIf="model">
        <img *ngIf="config.type == 'image'"
             [src]="model.url"
             class="upload-content upload-image"/>
        <video *ngIf="config.type == 'video'"
               [src]="model.url"
               class="upload-content upload-video"
               controls></video>
        <audio *ngIf="config.type == 'audio'"
               [src]="model.url"
               class="upload-content upload-audio"
               controls></audio>
    </ng-container>

    <canvas *ngIf="!model"
            [width]="config.width"
            [height]="config.width / config.ratio"
            class="placeholder"></canvas>

    <label class="btn btn-default">
        <input type="file" (change)="chooseFile($event)"/>
        {{ 'Upload ' + config.type }}
    </label>

</div>
