@import "~bootstrap/less/mixins";

:host {
  .upload {
    .clearfix();
    position: relative;
    overflow: hidden;
    height: 200px;
    .upload-content {
      border: solid 1px #000000;
      background-color: #eeeeee;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      &.upload-audio {
        height: 100%;
      }
    }
    .placeholder {
      border: solid 1px #000000;
      background-color: #eeeeee;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .btn {
      position: absolute;
      top: 5px;
      left: 5px;
      input {
        display: none;
      }
    }
  }
}
