<div class="modal fade in" [class.open]="isOpen">
    <div class="modal-backdrop fade in" style="z-index: 0"></div>
    <div class="container">
        <div class="modal-dialog" style="width: 100%;">
            <div #container></div>
        </div>
    </div>
</div>
